<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--引入css-->
    <link rel="stylesheet" href="style.css"> 
    <title>Document</title>
    <!--引入vue-->
    <script src="lib/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <h1>playlist</h1>
        <!--利用v-model來連動searchTerm數據(使用者輸入時，或後台修改數據時)-->
        <input type="text" placeholder="Please enter the name of the song" class="search" v-model="searchTerm"/>
        <ul>
          <!-- 原本的code
          <li>YOLO</li>
          <li>about Us</li>
          <li>Unleash</li>
          -->
          <!--利用vue的模板語法來改寫-->
          <li v-for="song in playlist">{{ song }}</li>
        </ul>
      </div>
    <!--引入javascript-->
    <script src="index.js"> </script>
</body>
</html>